.main{
    width:90%;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    background-color:greenyellow;
    border-radius: 15px;
}

.button{
    width:100px ;
    height:30px;
    margin-left: 35px;
    background-color: greenyellow;
    outline-style:solid;
    outline-color: black;
    outline-width: 2px;
    border-radius: 15px;
}

.title{
    font-size: 25px;
    margin-top: 0px;
    margin-left: 30px;
}

.detail{
    font-size: 15px;
    margin-top: -20px;
    margin-left: 30px;
}

.text-button{
    font-size: 13px;
    text-align: center;
    margin-top: -17px;
}
